* {
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #414141;
  color: #FFFFFF;
  font-size: 1.1em;
}

div {

}

h1 h2 h3 h4 {
  font-family: 'Raleway', sans-serif;
}

h1 {

}

h2 {

}

h3 {

}
